:root {
    --background-color    : #2c3e50;
    --border-color        : #7591AD;
    --nav-background-color: #34495e;
    --text-color          : #34495e;
    --color1              : #EC3E27;
    --color2              : #fd79a8;
    --color3              : #0984e3;
    --color4              : #00b894;
    --color5              : #fdcb6e;
    --color6              : #e056fd;
    --color7              : #F97F51;
    --color8              : #BDC581;
}

* {
    margin : 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    width           : 100vw;
    min-height          : 100vh;
    background-color: var(--background-color);
    display         : flex;
    justify-content : center;
    align-items     : center;
    font-family     : 'Montserrat', sans-serif, Arial, 'Microsoft Yahei';
}


nav {
    position        : relative;
    width           : 590px;
    height          : 50px;
    background-color: var(--nav-background-color);
    border-radius   : 8px;
    box-shadow      : 0 2px 3px rgba(0, 0, 0, 0.1);
}

nav a {
    position   : relative;
    display    : block;
    float      : left;
    font-size  : 15px;
    line-height: 50px;

    height             : 50px;
    color              : #fff;
    text-transform     : uppercase;
    text-decoration    : none;
    text-align         : center;
    /* background-color: #00b894; */
    z-index            : 10;
}

nav a:nth-child(1) {
    width: 100px;
}

nav a:nth-child(2) {
    width: 110px;
}

nav a:nth-child(3) {
    width: 100px;
}

nav a:nth-child(4) {
    width: 160px;
}

nav a:nth-child(5) {
    width: 120px;
}

nav .animation {
    position        : absolute;
    height          : 100%;
    background-color: #F97F51;
    z-index         : 9;
    border-radius   : 8px;
    transition: all 0.3s;
}

.start-home,
nav a:nth-child(1):hover~.animation {
    width: 100px;
    left : 0px;
}
.start-about,
nav a:nth-child(2):hover~.animation {
    width: 110px;
    left : 100px;
}
.start-blog,
nav a:nth-child(3):hover~.animation {
    width: 100px;
    left : 210px;
}
.start-protfolio,
nav a:nth-child(4):hover~.animation {
    width: 160px;
    left : 310px;
}
.start-contact,
nav a:nth-child(5):hover~.animation {
    width: 120px;
    left : 470px;
}
.container{
	min-height: 500px;
	overflow:	hidden;
	display         : flex;
	flex-direction: column;
	justify-content : center;
	align-items     : center;
	font-family     : 'Montserrat', sans-serif, Arial, 'Microsoft Yahei';
}
.header{
	display:flex;
	align-items:center;
	flex-direction: row;
	width: 100%;
	height:100px;
	margin: 0 auto;
}
main{
	background-color: var(--nav-background-color);
	width: 100%;
	min-height: 500px;
	border-radius   : 8px;
	box-shadow      : 0 2px 3px rgba(0, 0, 0, 0.1);
}

footer{
	margin-top: 20px;
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: var(--nav-background-color);
	width: 100%;
	height: 100px;
	border-radius   : 8px;
	box-shadow      : 0 2px 3px rgba(0, 0, 0, 0.1);
}
#bdw1{
	margin-left: auto;
	margin-right: 10px;
}
#lyon1{
	margin-right: auto;
	margin-left: 10px;
}
#tableau {
	width: 600px;
	text-align: center;
	margin: 0 auto;
}
table {
	width: 600px;
	border-collapse: collapse;
	text-align: left;
	margin: 10px 5px 5px 10px;
	cursor: default;
	border: 1px solid #ccc;
	margin-top:20px;
	box-shadow: 0px 0px 10px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
	-webkit-box-shadow: 0px 0px 8px rgba(0,255,255,0.75);
	-moz-box-shadow: 0px 0px 8px rgba(0,255,255,0.75);
	box-shadow: 0px 0px 8px rgba(0,255,255,0.75);
}
.tbTitle>th {
	font-weight: 300;
	text-align: center;
	padding: 10px 0 10px 0;
	font: 15px "微软雅黑", Arial, Helvetica, sans-serif;
	background-color: rgba(0,93,93,0.8);
	color: #efefef;
	text-shadow: 0px 0px 20px rgba(127,255,255,1);
}
th, td {
	border: 1px solid rgba(127,255,255,0.55);
	
}
.tbContext:hover {
	background-color: rgba(0,99,99,0.9) !important;
}
td,td>a {
	font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 6px 0 6px 0;
	color: rgba(127,255,255,0.75);
	text-shadow: 0px 0px 20px rgba(0,255,255,0.75);
}
.tbContext:nth-child(2n 1) {
	background-color: rgba(0,127,127,0.1);
}

.joliforme {
    margin-left:auto;
	margin-right:auto;
	max-width: 500px;
	background: # FFF;
	padding: 20px 30px 20px 30px;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: # 888;
	text-shadow: 1px 1px 1px # FFF;
	border:1px solid # DDD;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.joliforme h1 {
	font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0px 0px 10px 40px;
	display: block;
	border-bottom: 1px solid # DADADA;
	margin: -10px -30px 30px -30px;
	color: white;
}
.joliforme h1>span {
	display: block;
	font-size: 11px;
}
.joliforme label {
	display: block;
	margin: 0px 0px 5px;
}
.joliforme label>span {
	float: left;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	color: # 333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.joliforme input[type="text"], .bootstrap-frm input[type="number"],  .bootstrap-frm select{
	border: 1px solid # CCC;
	color: # 888;
	height: 20px;
	line-height:15px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 5px 0px 5px 5px;
	width: 70%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.joliforme select {
	background: # FFF url('down-arrow.png') no-repeat right;
	background: # FFF url('down-arrow.png') no-repeat right;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 70%;
	height: 35px;
	line-height:15px;
}

.joliforme .button {
	background: # FFF;
	border: 1px solid # CCC;
	padding: 10px 25px 10px 25px;
	color: # 333;
	border-radius: 4px;
}
.joliforme .button:hover {
	color: # 333;
	background-color: # EBEBEB;
	border-color: # ADADAD;
}

.acceuil{
	margin:auto;
	font-size:15px;
	font-weight: bold;
	color:white;
}
.graphique{
	margin:0;
	padding:0;
	border:0;
}